/* Main Style Sheet */

body{
    background-color: #000639;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

/* Form Container */
.formContainer{
    color: white;
    width: 320px;
    height: 400px;
}

/* Form title */
.formTitle{
    margin-bottom: 5px;
}

.formContainer h1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
}

#Greenline{
    display: block;
    width: 30px;
    border-bottom: 4px solid #7AB55C;
    margin-bottom: 55px;
}

/* Form */
label{
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    display: inline-block;
}

.error{
    color: #c23628;
    font-size: 14px;
    margin-bottom: -10px;
}

.flexbox{
    display: flex;
    margin-bottom: -8px;
}

input[type=email] {
    flex-grow: 2;
    color:  #7b7b7b ;
    font-size: 14px;
    padding: 9px 15px;
    border: 1px solid #7b7b7b;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-right: 15px;

}

input[type=submit] {
    font-size: 14px;
    width: 100%;
    background-color: #5c6ac4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6775d1;
}


/* Thank You page */
.thankYouPage{
    font-family: 'Roboto', sans-serif;    
}
.display{
    display: none;
}

a{
    color: lightblue;
}


@media all and (min-width: 600px) {
    /* Form Container */
    .formContainer{
        width: 450px;
    }
}